 /*основний колір тексту #757575;  */
/* колір акценту #2196F3 */

:root {
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --second-bck-color: #2F303A;
    --third--bck-color: #F5F4FA;
    --white-color: #FFFFFF;
    --second-text-color: #212121;
    --logo-first-color: #000000;
    --logo-second-color: rgba(255, 255, 255, 1);
}

body{
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: 'Roboto', sans-serif;
}
header { 
    background-color: var(--white-color);
}

ul{
    list-style: none;
}
a {
    text-decoration: none;
}


/* logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo .first-part {
    color: var(--accent-color);
}
.logo .second-part {
    color: var(--logo-first-color);
}
.logo .second-variant {
    color: var(--logo-second-color);
}


/* Site-nav */
.site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}



/* Auth-nav */
.auth-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em
}

.auth-nav .link:hover, 
.auth-nav .link:focus {
    color: var(--accent-color);
}


/* Hero */
.hero {
    background-color: var(--second-bck-color);
}
.hero .hero-tittle{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}
.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.button:hover {
    background-color: var(--second-bck-color);
}

/* Section */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* FEATURES */
.features-list .subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
}
.features-list .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}



/* OUR TEAM */

.employees {
    background-color: var(--third--bck-color);
}
.team-list .card {
    background: var(--white-color);
}
.team-list .card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.team-list .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* PORTFOLIO */
.portfolio {
    background-color: var(--white-color);
}
.list-button .filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    background-color: var(--third--bck-color);
    cursor: pointer;
}

.filter .filter-button:hover,
.filter .filter-button:focus
 {
    color: var(--white-color);
    background-color: var(--accent-color);

}

.item .item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-text-color);

}
.item .text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}



/* Footer */
footer {
    background-color: var(--second-bck-color);
}

.adress-list .link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.adress-list .link:hover,
.adress-list .link:focus {
    color: var(--accent-color);
}
.adress-list .link-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}